In [58]:
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [59]:
df = pd.read_csv('match_summary.csv',index_col=0)
pd.set_option('display.max_columns', None)

In [60]:
df = df[df['innings'] == 2]

In [61]:
df = df.reset_index(drop=True)

In [62]:
df.head(40)

,venue_x,innings,batting_team,bowling_team,total_runs_per_inning_match,Total_Overs_Played
0,"Narendra Modi Stadium, Ahmedabad",2,New Zealand,England,283,36.333333
1,"Rajiv Gandhi International Stadium, Uppal, Hyd...",2,Netherlands,Pakistan,205,41.000000
2,"Himachal Pradesh Cricket Association Stadium, ...",2,Bangladesh,Afghanistan,158,34.666667
3,"Arun Jaitley Stadium, Delhi",2,Sri Lanka,South Africa,326,44.833333
4,"MA Chidambaram Stadium, Chepauk, Chennai",2,India,Australia,201,41.333333
5,"Rajiv Gandhi International Stadium, Uppal, Hyd...",2,Netherlands,New Zealand,223,46.500000
6,"Himachal Pradesh Cricket Association Stadium, ...",2,Bangladesh,England,227,48.333333
7,"Rajiv Gandhi International Stadium, Uppal, Hyd...",2,Pakistan,Sri Lanka,345,48.333333
8,"Arun Jaitley Stadium, Delhi",2,India,Afghanistan,273,35.000000
9,"MA Chidambaram Stadium, Chepauk, Chennai",2,New Zealand,Bangladesh,248,42.833333
10,"Narendra Modi Stadium, Ahmedabad",2,India,Pakistan,192,30.500000
11,"Arun Jaitley Stadium, Delhi",2,England,Afghanistan,215,40.500000
12,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,2,Australia,Sri Lanka,215,35.333333
13,"Himachal Pradesh Cricket Association Stadium, ...",2,South Africa,Netherlands,207,42.833333
14,"MA Chidambaram Stadium, Chepauk, Chennai",2,Afghanistan,New Zealand,139,34.666667
15,"Maharashtra Cricket Association Stadium, Pune",2,India,Bangladesh,261,41.500000
16,"M Chinnaswamy Stadium, Bengaluru",2,Pakistan,Australia,305,45.500000
17,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,2,Sri Lanka,Netherlands,263,48.333333
18,"Wankhede Stadium, Mumbai",2,England,South Africa,170,22.000000
19,"Himachal Pradesh Cricket Association Stadium, ...",2,India,New Zealand,274,48.000000
20,"MA Chidambaram Stadium, Chepauk, Chennai",2,Afghanistan,Pakistan,286,49.000000
21,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,2,Australia,South Africa,177,40.833333
22,"Wankhede Stadium, Mumbai",2,Bangladesh,South Africa,233,46.666667
23,"Arun Jaitley Stadium, Delhi",2,Netherlands,Australia,90,21.000000
24,"M Chinnaswamy Stadium, Bengaluru",2,Sri Lanka,England,160,25.666667
25,"MA Chidambaram Stadium, Chepauk, Chennai",2,South Africa,Pakistan,271,47.333333
26,"Himachal Pradesh Cricket Association Stadium, ...",2,New Zealand,Australia,383,50.000000
27,"Eden Gardens, Kolkata",2,Bangladesh,Netherlands,142,42.333333
28,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,2,England,India,129,34.833333
29,"Maharashtra Cricket Association Stadium, Pune",2,Afghanistan,Sri Lanka,242,45.333333
30,"Eden Gardens, Kolkata",2,Pakistan,Bangladesh,205,32.500000
31,"Maharashtra Cricket Association Stadium, Pune",2,New Zealand,South Africa,167,35.500000

In [63]:
df = df.drop(['innings'],axis='columns')

In [64]:
df.shape

(32, 5)

In [65]:
df.columns

Index(['venue_x', 'batting_team', 'bowling_team',
       'total_runs_per_inning_match', 'Total_Overs_Played'],
      dtype='object')

In [66]:
df.dtypes

venue_x                         object
batting_team                    object
bowling_team                    object
total_runs_per_inning_match      int64
Total_Overs_Played             float64
dtype: object

In [67]:
df.describe()

       total_runs_per_inning_match  Total_Overs_Played
count                     32.00000           32.000000
mean                     225.46875           39.979167
std                       66.14158            7.837708
min                       90.00000           21.000000
25%                      175.25000           34.958333
50%                      219.00000           41.416667
75%                      271.50000           46.541667
max                      383.00000           50.000000

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   venue_x                      32 non-null     object
 1   batting_team                 32 non-null     object
 2   bowling_team                 32 non-null     object
 3   total_runs_per_inning_match  32 non-null     int64
 4   Total_Overs_Played           32 non-null     float64
dtypes: float64(1), int64(1), object(3)
memory usage: 1.4+ KB

In [69]:
df.isnull().sum()

venue_x                        0
batting_team                   0
bowling_team                   0
total_runs_per_inning_match    0
Total_Overs_Played             0
dtype: int64

In [70]:
df.nunique()

venue_x                        10
batting_team                   10
bowling_team                   10
total_runs_per_inning_match    30
Total_Overs_Played             28
dtype: int64

In [71]:
cat = [col for col in df if df[col].dtype == 'object']
cat

['venue_x', 'batting_team', 'bowling_team']

In [72]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [73]:
mapping = {}

for column in cat:
    df[column] = le.fit_transform(df[column])
    mapping[column] = dict(zip(le.classes_, le.transform(le.classes_)))

In [74]:
for column_name in cat:
    print(f'Mapping for column "{column_name}":')
    for key, value in mapping[column_name].items():
        print(f'{key}: {value}')
    print()

Mapping for column "venue_x":
Arun Jaitley Stadium, Delhi: 0
Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium, Lucknow: 1
Eden Gardens, Kolkata: 2
Himachal Pradesh Cricket Association Stadium, Dharamsala: 3
M Chinnaswamy Stadium, Bengaluru: 4
MA Chidambaram Stadium, Chepauk, Chennai: 5
Maharashtra Cricket Association Stadium, Pune: 6
Narendra Modi Stadium, Ahmedabad: 7
Rajiv Gandhi International Stadium, Uppal, Hyderabad: 8
Wankhede Stadium, Mumbai: 9

Mapping for column "batting_team":
Afghanistan: 0
Australia: 1
Bangladesh: 2
England: 3
India: 4
Netherlands: 5
New Zealand: 6
Pakistan: 7
South Africa: 8
Sri Lanka: 9

Mapping for column "bowling_team":
Afghanistan: 0
Australia: 1
Bangladesh: 2
England: 3
India: 4
Netherlands: 5
New Zealand: 6
Pakistan: 7
South Africa: 8
Sri Lanka: 9

In [75]:
from sklearn.model_selection import train_test_split, cross_validate, cross_val_score, GridSearchCV
from sklearn.metrics import mean_squared_error, mean_absolute_error

# Models-------------------------
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline
from xgboost import XGBRegressor

In [76]:
X = df[['batting_team','bowling_team','venue_x','Total_Overs_Played']]
y = df['total_runs_per_inning_match']

In [77]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.20, shuffle=True)

In [78]:
print(X_test)

    batting_team  bowling_team  venue_x  Total_Overs_Played
2              2             0        3           34.666667
23             5             1        0           21.000000
6              2             3        3           48.333333
28             3             4        1           34.833333
22             2             8        9           46.666667
29             0             9        6           45.333333
26             6             1        3           50.000000

In [79]:
size_scaler = preprocessing.StandardScaler().fit(X_train)
X_train_scaled = size_scaler.transform(X_train)
X_test_scaled = size_scaler.transform(X_test)
X_train_scaled.shape, X_test_scaled.shape

((25, 4), (7, 4))

In [80]:
model_dict = {
    'LinearRegression': {"model": LinearRegression(), "params": {}},
    'RandomForestRegressor': {"model": RandomForestRegressor(random_state=42),
                     "params": {'n_estimators': list(range(5, 50, 5)), 'max_depth': list(range(1, 10, 2))}},
    # 'XGBRegressor': {"model": XGBRegressor(), "params": {'n_estimators': list(range(10, 800, 100)), 'learning_rate': [0.001, 0.01, 0.1]}},
    'PolynomialFeatures': {"model": make_pipeline(PolynomialFeatures(), LinearRegression()),
                      "params": {'polynomialfeatures__degree': [2,3]}}
}

In [81]:
def eval_models():
    model_results = pd.DataFrame()
    model_results['Train_RMSE'] = None
    model_results['Test_RMSE'] = None
    model_results['Train_MAE'] = None
    model_results['Test_MAE'] = None
    model_results['best_params'] = None
    best_test_score = math.inf

    for model_name, reg_model in model_dict.items():
        classifier = GridSearchCV(reg_model['model'], reg_model['params'], n_jobs=20, verbose=0)
        classifier.fit(X_train_scaled, y_train)
        best_model = classifier.best_estimator_

        y_train_predicted = best_model.predict(X_train_scaled)
        train_rmse = np.sqrt(mean_squared_error(y_train, y_train_predicted))
        train_mae = mean_absolute_error(y_train, y_train_predicted)

        print(model_name, train_rmse, classifier.best_params_)

        y_predicted = best_model.predict(X_test_scaled)
        test_rmse = np.sqrt(mean_squared_error(y_test, y_predicted))
        test_mae = mean_absolute_error(y_test, y_predicted)

        if test_rmse < best_test_score:
            best_test_score = test_rmse
            best_reg_model_ours = best_model

        model_results.loc[model_name, ['Train_RMSE', 'Test_RMSE', 'Train_MAE', 'Test_MAE', 'best_params']] = [train_rmse, test_rmse, train_mae, test_mae, classifier.best_params_]

    print("Best model: ", best_reg_model_ours)
    y_predicted = best_reg_model_ours.predict(X_test_scaled)

    return model_results,best_reg_model_ours

In [82]:
model_results,best_reg_model_ours = eval_models()
model_results

LinearRegression 40.683602856105715 {}
RandomForestRegressor 39.51968248551135 {'max_depth': 1, 'n_estimators': 5}
PolynomialFeatures 1.384227705544381e-13 {'polynomialfeatures__degree': 3}
Best model:  LinearRegression()

,Train_RMSE,Test_RMSE,Train_MAE,Test_MAE,best_params
LinearRegression,40.683603,51.534287,35.361275,43.515327,{}
RandomForestRegressor,39.519682,72.270221,33.719432,52.964783,"{'max_depth': 1, 'n_estimators': 5}"
PolynomialFeatures,0.0,227.234306,0.0,168.743185,{'polynomialfeatures__degree': 3}

In [83]:
print(best_reg_model_ours)

LinearRegression()

In [84]:
y_predicted = best_reg_model_ours.predict(X_test_scaled)

In [85]:
print(y_predicted)

[192.18040965 143.21324912 251.90630793 192.628721   245.73712617
 223.00453193 286.05399231]

In [86]:
classifier=best_reg_model_ours
classifier.fit(X_train,y_train)

LinearRegression()

In [87]:
import pickle
pickle_out = open("runs_inning_2.pkl","wb")
pickle.dump(classifier, pickle_out)
pickle_out.close()