In [1]:
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('match_summary.csv',index_col=0)
pd.set_option('display.max_columns', None)

In [3]:
df = df[df['innings'] == 1]

In [4]:
df = df.reset_index(drop=True)

In [5]:
df.head(40)

,venue_x,innings,batting_team,bowling_team,total_runs_per_inning_match,Total_Overs_Played
0,"Narendra Modi Stadium, Ahmedabad",1,England,New Zealand,282,50.000000
1,"Rajiv Gandhi International Stadium, Uppal, Hyd...",1,Pakistan,Netherlands,286,48.833333
2,"Himachal Pradesh Cricket Association Stadium, ...",1,Afghanistan,Bangladesh,156,37.333333
3,"Arun Jaitley Stadium, Delhi",1,South Africa,Sri Lanka,428,50.000000
4,"MA Chidambaram Stadium, Chepauk, Chennai",1,Australia,India,199,49.500000
5,"Rajiv Gandhi International Stadium, Uppal, Hyd...",1,New Zealand,Netherlands,322,50.000000
6,"Himachal Pradesh Cricket Association Stadium, ...",1,England,Bangladesh,364,50.000000
7,"Rajiv Gandhi International Stadium, Uppal, Hyd...",1,Sri Lanka,Pakistan,344,50.000000
8,"Arun Jaitley Stadium, Delhi",1,Afghanistan,India,272,50.000000
9,"MA Chidambaram Stadium, Chepauk, Chennai",1,Bangladesh,New Zealand,245,50.000000
10,"Narendra Modi Stadium, Ahmedabad",1,Pakistan,India,191,42.833333
11,"Arun Jaitley Stadium, Delhi",1,Afghanistan,England,284,49.833333
12,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,1,Sri Lanka,Australia,209,43.500000
13,"Himachal Pradesh Cricket Association Stadium, ...",1,Netherlands,South Africa,245,43.000000
14,"MA Chidambaram Stadium, Chepauk, Chennai",1,New Zealand,Afghanistan,288,50.000000
15,"Maharashtra Cricket Association Stadium, Pune",1,Bangladesh,India,256,50.000000
16,"M Chinnaswamy Stadium, Bengaluru",1,Australia,Pakistan,367,50.000000
17,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,1,Netherlands,Sri Lanka,262,49.666667
18,"Wankhede Stadium, Mumbai",1,South Africa,England,399,50.000000
19,"Himachal Pradesh Cricket Association Stadium, ...",1,New Zealand,India,273,50.000000
20,"MA Chidambaram Stadium, Chepauk, Chennai",1,Pakistan,Afghanistan,282,50.000000
21,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,1,South Africa,Australia,311,50.000000
22,"Wankhede Stadium, Mumbai",1,South Africa,Bangladesh,382,50.000000
23,"Arun Jaitley Stadium, Delhi",1,Australia,Netherlands,399,50.000000
24,"M Chinnaswamy Stadium, Bengaluru",1,England,Sri Lanka,156,33.333333
25,"MA Chidambaram Stadium, Chepauk, Chennai",1,Pakistan,South Africa,270,46.666667
26,"Himachal Pradesh Cricket Association Stadium, ...",1,Australia,New Zealand,388,49.333333
27,"Eden Gardens, Kolkata",1,Netherlands,Bangladesh,229,50.000000
28,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,1,India,England,229,50.000000
29,"Maharashtra Cricket Association Stadium, Pune",1,Sri Lanka,Afghanistan,241,49.500000
30,"Eden Gardens, Kolkata",1,Bangladesh,Pakistan,204,45.166667
31,"Maharashtra Cricket Association Stadium, Pune",1,South Africa,New Zealand,357,50.000000

In [6]:
df = df.drop(['innings'],axis='columns')

In [7]:
df.shape

(32, 5)

In [8]:
df.columns

Index(['venue_x', 'batting_team', 'bowling_team',
       'total_runs_per_inning_match', 'Total_Overs_Played'],
      dtype='object')

In [9]:
df.dtypes

venue_x                         object
batting_team                    object
bowling_team                    object
total_runs_per_inning_match      int64
Total_Overs_Played             float64
dtype: object

In [10]:
df.describe()

       total_runs_per_inning_match  Total_Overs_Played
count                    32.000000           32.000000
mean                    285.000000           48.078125
std                      73.028938            4.014308
min                     156.000000           33.333333
25%                     238.000000           49.208333
50%                     277.500000           50.000000
75%                     347.250000           50.000000
max                     428.000000           50.000000

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   venue_x                      32 non-null     object
 1   batting_team                 32 non-null     object
 2   bowling_team                 32 non-null     object
 3   total_runs_per_inning_match  32 non-null     int64
 4   Total_Overs_Played           32 non-null     float64
dtypes: float64(1), int64(1), object(3)
memory usage: 1.4+ KB

In [12]:
df.isnull().sum()

venue_x                        0
batting_team                   0
bowling_team                   0
total_runs_per_inning_match    0
Total_Overs_Played             0
dtype: int64

In [13]:
df.nunique()

venue_x                        10
batting_team                   10
bowling_team                   10
total_runs_per_inning_match    27
Total_Overs_Played             13
dtype: int64

In [14]:
cat = [col for col in df if df[col].dtype == 'object']
cat

['venue_x', 'batting_team', 'bowling_team']

In [15]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [16]:
mapping = {}

for column in cat:
    df[column] = le.fit_transform(df[column])
    mapping[column] = dict(zip(le.classes_, le.transform(le.classes_)))

In [17]:
for column_name in cat:
    print(f'Mapping for column "{column_name}":')
    for key, value in mapping[column_name].items():
        print(f'{key}: {value}')
    print()

Mapping for column "venue_x":
Arun Jaitley Stadium, Delhi: 0
Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium, Lucknow: 1
Eden Gardens, Kolkata: 2
Himachal Pradesh Cricket Association Stadium, Dharamsala: 3
M Chinnaswamy Stadium, Bengaluru: 4
MA Chidambaram Stadium, Chepauk, Chennai: 5
Maharashtra Cricket Association Stadium, Pune: 6
Narendra Modi Stadium, Ahmedabad: 7
Rajiv Gandhi International Stadium, Uppal, Hyderabad: 8
Wankhede Stadium, Mumbai: 9

Mapping for column "batting_team":
Afghanistan: 0
Australia: 1
Bangladesh: 2
England: 3
India: 4
Netherlands: 5
New Zealand: 6
Pakistan: 7
South Africa: 8
Sri Lanka: 9

Mapping for column "bowling_team":
Afghanistan: 0
Australia: 1
Bangladesh: 2
England: 3
India: 4
Netherlands: 5
New Zealand: 6
Pakistan: 7
South Africa: 8
Sri Lanka: 9

In [29]:
from sklearn.model_selection import train_test_split, cross_validate, cross_val_score, GridSearchCV
from sklearn.metrics import mean_squared_error, mean_absolute_error

# Models-------------------------
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline
from xgboost import XGBRegressor

In [30]:
X = df[['batting_team','bowling_team','venue_x','Total_Overs_Played']]
y = df['total_runs_per_inning_match']

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=42, test_size=0.20, shuffle=True)

In [32]:
size_scaler = preprocessing.StandardScaler().fit(X_train)
X_train_scaled = size_scaler.transform(X_train)
X_test_scaled = size_scaler.transform(X_test)
X_train_scaled.shape, X_test_scaled.shape

((25, 4), (7, 4))

In [33]:
model_dict = {
    'LinearRegression': {"model": LinearRegression(), "params": {}},
    'RandomForestRegressor': {"model": RandomForestRegressor(random_state=42),
                     "params": {'n_estimators': list(range(5, 50, 5)), 'max_depth': list(range(1, 10, 2))}},
    'XGBRegressor': {"model": XGBRegressor(), "params": {'n_estimators': list(range(10, 800, 100)), 'learning_rate': [0.001, 0.01, 0.1]}},
    'PolynomialFeatures': {"model": make_pipeline(PolynomialFeatures(), LinearRegression()),
                      "params": {'polynomialfeatures__degree': [2,3]}}
}

In [34]:
def eval_models():
    model_results = pd.DataFrame()
    model_results['Train_RMSE'] = None
    model_results['Test_RMSE'] = None
    model_results['Train_MAE'] = None
    model_results['Test_MAE'] = None
    model_results['best_params'] = None
    best_test_score = math.inf

    for model_name, reg_model in model_dict.items():
        classifier = GridSearchCV(reg_model['model'], reg_model['params'], n_jobs=20, verbose=0)
        classifier.fit(X_train_scaled, y_train)
        best_model = classifier.best_estimator_

        y_train_predicted = best_model.predict(X_train_scaled)
        train_rmse = np.sqrt(mean_squared_error(y_train, y_train_predicted))
        train_mae = mean_absolute_error(y_train, y_train_predicted)

        print(model_name, train_rmse, classifier.best_params_)

        y_predicted = best_model.predict(X_test_scaled)
        test_rmse = np.sqrt(mean_squared_error(y_test, y_predicted))
        test_mae = mean_absolute_error(y_test, y_predicted)

        if test_rmse < best_test_score:
            best_test_score = test_rmse
            best_reg_model_ours = best_model

        model_results.loc[model_name, ['Train_RMSE', 'Test_RMSE', 'Train_MAE', 'Test_MAE', 'best_params']] = [train_rmse, test_rmse, train_mae, test_mae, classifier.best_params_]

    print("Best model: ", best_reg_model_ours)
    y_predicted = best_reg_model_ours.predict(X_test_scaled)

    return model_results,best_reg_model_ours

In [35]:
model_results,best_reg_model_ours = eval_models()
model_results

LinearRegression 51.29764300330085 {}

RandomForestRegressor 21.535989590179113 {'max_depth': 7, 'n_estimators': 35}
XGBRegressor 58.681108654677516 {'learning_rate': 0.001, 'n_estimators': 310}
PolynomialFeatures 1.3888884180767737e-13 {'polynomialfeatures__degree': 3}
Best model:  RandomForestRegressor(max_depth=7, n_estimators=35, random_state=42)

,Train_RMSE,Test_RMSE,Train_MAE,Test_MAE,best_params
LinearRegression,51.297643,64.807838,41.669887,60.286137,{}
RandomForestRegressor,21.53599,63.936788,17.000707,59.965986,"{'max_depth': 7, 'n_estimators': 35}"
XGBRegressor,58.681109,71.254405,49.275499,62.52594,"{'learning_rate': 0.001, 'n_estimators': 310}"
PolynomialFeatures,0.0,411.256903,0.0,268.943187,{'polynomialfeatures__degree': 3}

In [36]:
print(best_reg_model_ours)

RandomForestRegressor(max_depth=7, n_estimators=35, random_state=42)

In [37]:
y_predicted = best_reg_model_ours.predict(X_test_scaled)

In [38]:
print(y_predicted)

[276.68571429 307.65714286 243.42857143 302.6        309.71428571
 334.19047619 281.48571429]